@charset "UTF-8";
/* MIXINS */
/* VARIABLES */
/* BASIC STYLES */
p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 150%;
  color: #595959;
}

button {
  padding: 0.5rem 2rem;
  display: block;
  width: max-content;
  background-color: #1459A3;
  color: #fff;
  border: 1px solid transparent;
  transition: background-color 0.2s ease;
}
button:hover {
  background-color: unset;
  border: 1px solid #1459A3;
  color: #1459A3;
}

.slick-slide {
  outline: none;
}

/* BASIC ANIMATIONS */
@keyframes fadeInDown {
  0% {
    transform: translateY(20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fadeOutLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-20%);
    opacity: 0;
  }
}
@keyframes fadeInLeft {
  0% {
    transform: translateX(20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* BASIC CLASSES */
.grid {
  display: grid;
  grid-template-columns: 100px repeat(6, 1fr) 100px;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  position: absolute;
}
@media (max-width: 1024px) {
  .grid {
    grid-template-columns: 100px repeat(4, 1fr) 100px;
  }
}
@media (max-width: 576px) {
  .grid {
    grid-template-columns: 16px repeat(4, 1fr) 16px;
  }
}
.grid-column {
  border-right: 1px solid #E9E9E9;
}
.grid-column:last-child {
  border-right: unset;
}

.e-mail {
  position: fixed;
  z-index: 40;
  top: 50%;
  left: -40px;
  transform: translateY(-50%) rotate(-90deg);
}
.e-mail a {
  color: #1459A3;
}
.e-mail-active a {
  color: #1459A3;
}

.social-links {
  position: fixed;
  z-index: 40;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-links a {
  margin: 0.5rem 0;
}

.callback {
  background-color: #1459A3;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  position: fixed;
  bottom: 50px;
  right: 20px;
  z-index: 40;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.04), 0 2px 6px rgba(0, 0, 0, 0.04), 0 16px 24px rgba(0, 0, 0, 0.06), 0 -2px 6px rgba(0, 0, 0, 0.04);
}
.callback:hover {
  background-color: #fff;
  border: 1px solid #1459A3;
}
.callback:hover svg path {
  fill: #1459A3;
}

.z-index {
  z-index: 30;
}

.strip {
  position: absolute;
  top: 50%;
  transform: translateY(calc(-50%));
  width: 100%;
  height: calc(100vh/3);
  background-color: #1459A3;
  z-index: -1;
}

.cover {
  position: absolute;
  top: 70px;
  left: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
  background: #111;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  z-index: 200;
  display: none;
  transition: all 0.5s ease;
}

.path-color-primary {
  fill: #1459A3;
}

.mail-color-primary {
  color: #1459A3 !important;
}

.w-100 {
  width: 100%;
  max-width: 100%;
}

.py-section {
  padding: 4rem 0;
}

.accent-line {
  position: relative;
}
.accent-line:before {
  content: "";
  position: absolute;
  display: block;
  height: 8px;
  width: 70px;
  left: -110px;
  top: 36px;
  background-color: #1459A3;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-t1 {
  font-family: Geometria, sans-serif;
  font-weight: bold;
  font-size: 62px;
  line-height: 78px;
  color: #111;
  text-indent: -5px;
}

.title-t2 {
  font-family: Geometria, sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  color: #111;
}

.title-t3 {
  font-family: Geometria, sans-serif;
  font-weight: bold;
  font-size: 27px;
  line-height: 34px;
  color: #111;
}

.subtitle-t1 {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 150%;
}

/* HEADER */
header.header {
  display: grid;
  grid-template-columns: 100px repeat(6, 1fr) 100px;
  grid-template-rows: 1fr;
  position: fixed;
  z-index: 100;
  width: 100%;
}
@media (max-width: 1024px) {
  header.header {
    grid-template-columns: 100px repeat(4, 1fr) 100px;
  }
}
@media (max-width: 576px) {
  header.header {
    grid-template-columns: 16px repeat(4, 1fr) 16px;
  }
}

.bg-white {
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(4px);
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.progress-container {
  position: absolute;
  width: 100%;
  height: 4px;
}

.progress-bar {
  height: 4px;
  background-color: #1459A3;
  width: 0;
}

.navbar {
  grid-column: 1/9;
  width: 100%;
  margin: 0 auto;
  min-height: 70px;
  display: grid;
  grid-template-columns: 100px repeat(6, 1fr) 100px;
  grid-template-rows: 1fr;
}
@media (max-width: 1024px) {
  .navbar {
    grid-template-columns: 100px repeat(4, 1fr) 100px;
  }
}
@media (max-width: 576px) {
  .navbar {
    grid-template-columns: 16px repeat(4, 1fr) 16px;
  }
}
.navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1;
}
.navbar-contacts {
  grid-column: 4/6;
  margin: 0 auto;
}
.navbar-nav {
  display: flex;
  margin-bottom: 0;
  grid-column: 8;
  padding-left: 0;
  align-items: center;
  justify-content: center;
}
.navbar-item {
  list-style-type: none;
}

.navbar-contacts {
  display: flex;
  align-items: center;
}
.navbar-contacts__arrow {
  cursor: pointer;
}

.navbar-phones {
  position: relative;
  height: 20px;
  width: 120px;
  transform-style: preserve-3d;
  perspective: 1000px;
}
.navbar-phones__side-a, .navbar-phones__side-b {
  width: 100%;
  position: absolute;
  height: 100%;
  backface-visibility: hidden;
  transform-origin: 50% 50%;
  transition: all 0.5s ease-in-out;
}
.navbar-phones__side-a a, .navbar-phones__side-b a {
  color: #111;
}
.navbar-phones__side-a a:hover, .navbar-phones__side-b a:hover {
  text-decoration: none;
}
.navbar-phones__side-a {
  transform: rotateX(0deg) translateZ(10px);
  z-index: 1;
}
.navbar-phones__side-b {
  transform: rotateX(90deg) translateZ(10px);
}

.flip .navbar-phones__side-a {
  transform: rotateX(-90deg) translateZ(10px);
}

.flip .navbar-phones__side-b {
  transform: rotateX(0deg) translateZ(10px);
  z-index: 1;
}

/* MAIN */
/* HERO SECTION */
.hero-section {
  min-height: calc(100vh - 140px);
  background: url("../images/hero-section-grid.png") 50% no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  padding: 70px 0;
  z-index: 20;
  display: grid;
  grid-template-columns: 100px repeat(6, 1fr) 100px;
  grid-template-rows: 1fr;
}
@media (max-width: 1024px) {
  .hero-section {
    grid-template-columns: 100px repeat(4, 1fr) 100px;
  }
}
@media (max-width: 576px) {
  .hero-section {
    grid-template-columns: 16px repeat(4, 1fr) 16px;
  }
}
.hero-section__content {
  grid-column: 2/8;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1024px) {
  .hero-section__content {
    grid-column: 2/6;
  }
}
.hero-section__content .hero-slider {
  width: 100%;
}
.hero-section__content .hero-slider__description {
  max-width: 570px;
}
.hero-section__content .hero-slider__item {
  min-height: calc(100vh - 140px);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.hero-section__content .hero-slider__item .title-t2 {
  max-width: 560px;
}
.hero-section__content .hero-slider__item.slick-active .title-t2 {
  animation: fadeInLeft 1s both;
}
.hero-section__content .hero-slider__item.slick-active .hero-slider__description {
  animation: fadeInLeft 1s both 0.5s;
}
.hero-section__content .hero-slider__item.slick-active .order__btn {
  animation: fadeInLeft 1s both 1s;
}
.hero-section__content .hero-slider__right {
  height: 100%;
  min-height: calc(100vh - 140px);
}
.hero-section__content .hero-slider__right--lighting {
  background-repeat: no-repeat;
  background-image: url("../images/hero-section-bg-2.png");
  background-size: contain;
}
.hero-section__content .hero-slider__right--monitors {
  background-repeat: no-repeat;
  background-position: 100%;
  background-image: url("../images/led.png");
  background-size: cover;
}
.hero-section__content .hero-slider__left {
  padding: 6rem;
}

/* CONTENT CONTAINER */
.content-flow {
  overflow: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.content-container {
  padding-top: 100vh;
  width: 100%;
  position: absolute;
  overflow: hidden;
  z-index: 10;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}
.content-container__wrapper {
  background-color: #fff;
  position: relative;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}
.content-container__wrapper .scroll {
  max-width: 100px;
  position: absolute;
  z-index: -1;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: 50% 50%;
}
.content-container__wrapper .scroll svg {
  animation: rotate 5s linear infinite;
}

/* ABOUT SECTION */
.about-section {
  position: relative;
}
.about-section__wrapper {
  grid-column: 2/8;
  min-height: calc(100vh - 70px);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}
.about-section__left {
  grid-column: 1/3;
  position: relative;
}
.about-section__right {
  grid-column: 3/5;
}

/**/
.grid-section {
  position: relative;
}
.grid-section .grid-content {
  display: grid;
  grid-template-columns: 100px repeat(6, 1fr) 100px;
  grid-template-rows: 1fr;
}
@media (max-width: 1024px) {
  .grid-section .grid-content {
    grid-template-columns: 100px repeat(4, 1fr) 100px;
  }
}
@media (max-width: 576px) {
  .grid-section .grid-content {
    grid-template-columns: 16px repeat(4, 1fr) 16px;
  }
}
.grid-section .grid-header {
  grid-column: 3/6;
  padding-bottom: 4rem;
}
@media (max-width: 1024px) {
  .grid-section .grid-header {
    grid-column: 2/6;
  }
}
.grid-section .grid-body {
  grid-column: 3/7;
  max-width: 100%;
}
@media (max-width: 1024px) {
  .grid-section .grid-body {
    grid-column: 2/6;
  }
}

.products-block {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}
.products-block__left {
  grid-column: 1/3;
  position: relative;
}
.products-block__right {
  grid-column: 3/5;
}
.products-block .play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

/* FOOTER */
#player {
  position: fixed;
  z-index: 300;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

video {
  max-width: 100%;
  position: absolute;
}

.order,
.menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  min-height: 100vh;
  position: fixed;
  top: 70px;
}
.order__block,
.menu__block {
  transition: all 1s ease;
}
.order__block--left,
.menu__block--left {
  background-color: #1459A3;
  display: grid;
  grid-template-columns: 100px repeat(2, 1fr) 100px;
  grid-template-rows: 1fr;
  transform: translateY(calc(-100% - 70px));
}
.order__block--left .content-block,
.menu__block--left .content-block {
  grid-column: 2/4;
}
.order__block--left .content-block > *,
.menu__block--left .content-block > * {
  color: #fff;
}
.order__block--right,
.menu__block--right {
  background-color: #fff;
  display: grid;
  grid-template-columns: 100px repeat(2, 1fr) 100px;
  grid-template-rows: 1fr;
  transform: translateY(100%);
}
.order__block--right .content-block,
.menu__block--right .content-block {
  grid-column: 2/4;
}

.transition {
  transform: translateY(0);
  transition: all 1s ease;
}

.close {
  display: none;
  position: fixed;
  top: 100px;
  right: 40px;
  z-index: 40;
  cursor: pointer;
  transform-origin: center;
  transition: all 0.4s ease;
}
.close:hover {
  transform: rotate(360deg);
}

/* CURSOR STYLING */
.cursor {
  z-index: 9999;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}

.cursor__inner {
  z-index: 9999;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.cursor__inner--dot {
  width: 5px;
  height: 5px;
  background: #023da7;
}

.cursor__inner--circle {
  width: 40px;
  height: 40px;
  border: 1px solid #023da7;
}

.cursor__inner--text::after {
  content: " →";
  margin-left: 1rem;
  display: block;
  color: #f6cb03;
  font-size: 4rem;
}

@media screen and (min-width: 53em) {
  *,
*::after,
*::before {
    cursor: none !important;
  }
}
/* SLIDER STYLES */
.slider__item {
  display: flex !important;
  align-items: center;
}
.slider__item > div {
  width: 50%;
}
.slider__text {
  padding: 2rem;
}
.slider__image {
  animation: fadeOutLeft 1s both 0.5s;
}
.slider__item h2 {
  animation: fadeOutLeft 1s both 1s;
}
.slider__item p {
  animation: fadeOutLeft 1s both 1.5s;
}
.slider__item.slick-active h2 {
  animation: fadeInDown 1s both 1s;
}
.slider__item.slick-active p {
  animation: fadeInDown 1s both 1.5s;
}
.slider__item.slick-active .slider__image {
  animation: fadeInLeft 1s both 0.5s;
}

/*# sourceMappingURL=styles.css.map */
